<div class="loading" ng-show="!$ctrl.is_loaded">Loading&#8230;</div>
<div class=wrapper>
  <nav id="sidebar" role="navigation" ng-class="$ctrl.sidebar_active ? 'active' : 'navbar navbar-default'">
    <!-- Sidebar Header -->
    <!--div class="sidebar-header">
        <h3>Barra de Opções</h3>
    </div-->

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li>
          <a id="test_mode" ng-click="$ctrl.refreshClusters('test')" ng-class="$ctrl.selected_algorithm=='test' ? 'active' : ''">Modo Teste</a>
        </li>
        <li><!-- Link with dropdown items -->
          <a ng-click="isCategoriesCollapsed = !isCategoriesCollapsed">Categorias<span class="caret"></span></a>
          <ul id="categories" class="list-unstyled" uib-collapse="isCategoriesCollapsed">
            <li ng-class="$ctrl.selected_algorithm=='baseline' ? 'active' : ''" data-toggle="tab" ng-click="$ctrl.refreshClusters('baseline')"><a href="#">Similaridade Social</a></li>
            <li ng-class="$ctrl.selected_algorithm=='category' ? 'active' : ''" data-toggle="tab" ng-click="$ctrl.refreshClusters('category')"><a href="#">Diversidade de Usuários</a></li>
            <li ng-class="$ctrl.selected_algorithm=='social_popularity' ? 'active' : ''" data-toggle="tab" ng-click="$ctrl.refreshClusters('social_popularity')"><a href="#">Popularidade</a></li>
            <li ng-class="$ctrl.selected_algorithm=='rating' ? 'active' : ''" data-toggle="tab" ng-click="$ctrl.refreshClusters('rating')"><a href="#">Avaliação</a></li>
            <li ng-class="$ctrl.selected_algorithm=='popular_times' ? 'active' : ''" data-toggle="tab" ng-click="$ctrl.refreshClusters('popular_times')"><a href="#">Horários de Pico</a></li>
          </ul>
        </li>

        <li>
          <p>Selecione o Bairro</p>
          <div class="row">
            <form class="form-inline">
              <select ng-model="selected_neighborhood_name" ng-options="n.name as n.name for n in $ctrl.neighborhoods | orderBy:'name'" type="text" autofocus>
              </select>
              <button class="btn" ng-click="$ctrl.triggerNeighborhoods(selected_neighborhood_name, $ctrl)">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </form>
          </div>
        </li>
    </ul>
  </nav>
  <div class="container">
    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" ng-click="$ctrl.toggleSidebar($ctrl)">
      <i class="glyphicon glyphicon-align-left"></i>
      Barra de opções
    </button>
    <div class="row">
      <div class="col-lg-8">
        <h1 class="page-header">KANDOR</h1>
          <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSDE6HlmoYd9x1_ZUXRsON-jiiUUto_k4">
            <ng-map id="map" center="-30.034647,-51.217658" zoom="10">
              <!--marker name="circle" ng-if="query.cluster_id != ''" on-click="$ctrl.triggerClusterPolygon(marker.cluster_id, $ctrl)" ng-repeat="marker in $ctrl.markers | filter: query.cluster_id:true" 
                no-watcher="true"
                position="{{marker.position}}"
                title="{{marker.name}}"
                icon="{path: 'CIRCLE', scale: 2, strokeColor:'{{marker.color}}', strokeOpacity:0.8, strokeWeight:2, fillColor:'{marker.color}}', fillOpacity:0.35}">
              </marker-->
              <!--marker ng-if="query.cluster_id == ''" on-click="$ctrl.triggerClusterPolygon(marker.cluster_id, $ctrl)" ng-repeat="marker in $ctrl.markers" 
                no-watcher="true"
                position="{{marker.position}}"
                title="{{marker.name}}"
                icon="{path: 'CIRCLE', scale: 2, strokeColor:'{marker.color}}', strokeOpacity:0.8, strokeWeight:2, fillColor:'{marker.color}}', fillOpacity:0.35}">
              </marker-->
              <marker ng-if="query.cluster_id != ''" on-click="$ctrl.triggerClusterPolygon(marker.cluster_id, $ctrl)" ng-repeat="marker in $ctrl.markers | filter: query.cluster_id:true" position="{{ marker.position }}" title="{{ marker.name }}" icon="{{ marker.icon }}"></marker>
              <marker ng-if="query.cluster_id == ''" on-click="$ctrl.triggerClusterPolygon(marker.cluster_id, $ctrl)" ng-repeat="marker in $ctrl.markers" position="{{ marker.position }}" title="{{ marker.name }}" icon="{{ marker.icon }}"></marker>
              <shape ng-if="$ctrl.cluster_polygon_array.length > 0" name="polygon" 
                paths="{{ $ctrl.cluster_polygon_array }}"
                stroke-color="#FF0000"
                stroke-opacity="0.8"
                stroke-weight="2"
                fill-color="#FF0000"
                fill-opacity="0.35">
              </shape>
              <shape ng-if="$ctrl.neighborhood_polygon_array.length > 0" name="polygon" 
                paths="{{ $ctrl.neighborhood_polygon_array }}"
                stroke-color="#0000FF"
                stroke-opacity="0.3"
                stroke-weight="2"
                fill-color="#0000FF"
                fill-opacity="0.10">
              </shape>
            </ng-map>
          </div>
        </div>
        <div class="col-lg-4" id="cluster_data">
          <table class="table">
            <thead>
              <tr>
                <th>Medida (média entre locais)</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr class="active">
                <td>
                  Quantidade de Checkins
                  <span tooltip-placement="right" uib-tooltip="Quantidade de Checkins no Instagram no local" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.checkin_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='category' ? 'active' : ''">
                <td>
                  Quantidade de Usuários
                  <span tooltip-placement="right" uib-tooltip="Quantidades de usuários diferentes que fizeram posts no Instagram no local" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.unique_user_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='rating' || $ctrl.selected_algorithm=='test' ? 'active' : ''">
                <td>
                  Avaliação Geral
                  <span tooltip-placement="right" uib-tooltip="Avaliação Geral provida pelo Google Places" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.rating_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='rating' || $ctrl.selected_algorithm=='test' ? 'active' : ''">
                <td>
                  Soma de Avaliações Parciais
                  <span tooltip-placement="right" uib-tooltip="Soma das avaliações parciais de usuários no Google Places" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.total_rating_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='rating' || $ctrl.selected_algorithm=='test' ? 'active' : ''">
                <td>
                  Quantidade de Avaliações
                  <span tooltip-placement="right" uib-tooltip="Quantidade de avaliações no Google Places" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.review_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='social_popularity' ? 'active' : ''">
                <td>
                  Quantidade de Likes
                  <span tooltip-placement="right" uib-tooltip="Quantidade de likes em posts do Instagram no local" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.like_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='social_popularity' ? 'active' : ''">
                <td>
                  Quantidade de Comentários
                  <span tooltip-placement="right" uib-tooltip="Quantidade de comentários em posts do Instagram no local" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.comment_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='popular_times' ? 'active' : ''">
                <td>
                  Quantidade de Checkins de Madrugada
                  <span tooltip-placement="right" uib-tooltip="Posts feitos entre meia-noite e 6 da manhã" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.dawn_checkin_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='popular_times' ? 'active' : ''">
                <td>
                  Quantidade de Checkins de Manhã
                  <span tooltip-placement="right" uib-tooltip="Posts feitos entre 6 da manhã e meio-dia" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.morning_checkin_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='popular_times' ? 'active' : ''">
                <td>
                  Quantidade de Checkins de Tarde
                  <span tooltip-placement="right" uib-tooltip="Posts feitos entre meio-dia e 6 da tarde" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.afternoon_checkin_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='popular_times' ? 'active' : ''">
                <td>
                  Quantidade de Checkins de Noite
                  <span tooltip-placement="right" uib-tooltip="Posts feitos entre 6 da tarde e meia-noite" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.evening_checkin_score}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--div class="row">
        <div class="col-md-6" id="cluster_data">
          <table class="table">
            <thead>
              <tr>
                <th>Medida (média entre locais)</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr class="active">
                <td>
                  Quantidade de Checkins
                  <span tooltip-placement="right" uib-tooltip="Quantidade de Checkins no Instagram no local" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.checkin_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='category' ? 'active' : ''">
                <td>
                  Quantidade de Usuários
                  <span tooltip-placement="right" uib-tooltip="Quantidades de usuários diferentes que fizeram posts no Instagram no local" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.unique_user_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='rating' || $ctrl.selected_algorithm=='test' ? 'active' : ''">
                <td>
                  Avaliação Geral
                  <span tooltip-placement="right" uib-tooltip="Avaliação Geral provida pelo Google Places" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.rating_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='rating' || $ctrl.selected_algorithm=='test' ? 'active' : ''">
                <td>
                  Soma de Avaliações Parciais
                  <span tooltip-placement="right" uib-tooltip="Soma das avaliações parciais de usuários no Google Places" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.total_rating_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='rating' || $ctrl.selected_algorithm=='test' ? 'active' : ''">
                <td>
                  Quantidade de Avaliações
                  <span tooltip-placement="right" uib-tooltip="Quantidade de avaliações no Google Places" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.review_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='social_popularity' ? 'active' : ''">
                <td>
                  Quantidade de Likes
                  <span tooltip-placement="right" uib-tooltip="Quantidade de likes em posts do Instagram no local" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.like_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='social_popularity' ? 'active' : ''">
                <td>
                  Quantidade de Comentários
                  <span tooltip-placement="right" uib-tooltip="Quantidade de comentários em posts do Instagram no local" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.comment_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='popular_times' ? 'active' : ''">
                <td>
                  Quantidade de Checkins de Madrugada
                  <span tooltip-placement="right" uib-tooltip="Posts feitos entre meia-noite e 6 da manhã" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.dawn_checkin_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='popular_times' ? 'active' : ''">
                <td>
                  Quantidade de Checkins de Manhã
                  <span tooltip-placement="right" uib-tooltip="Posts feitos entre 6 da manhã e meio-dia" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.morning_checkin_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='popular_times' ? 'active' : ''">
                <td>
                  Quantidade de Checkins de Tarde
                  <span tooltip-placement="right" uib-tooltip="Posts feitos entre meio-dia e 6 da tarde" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.afternoon_checkin_score}}</td>
              </tr>
              <tr ng-class="$ctrl.selected_algorithm=='popular_times' ? 'active' : ''">
                <td>
                  Quantidade de Checkins de Noite
                  <span tooltip-placement="right" uib-tooltip="Posts feitos entre 6 da tarde e meia-noite" class="glyphicon glyphicon-question-sign"></span>
                </td>
                <td>{{$ctrl.score_mapping.evening_checkin_score}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div-->
  </div>
</div>
